* {box-sizing: border-box;}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

.toggle{
    position:relative;
}

.toggle-input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    user-select: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid #0000BB;
    padding: 4px;
    border-radius: 50px;
    height: 70px;
    width: 100px;
    background-color: #FFFFFF;
    transition: all 0.4s ease;
}

.toggle-label:hover{
    border: 3px solid #000022;
}

.toggle-label:active{
    transform: scale(0.95);
}

.dark-mode {
    background-color: #383838;
    color: #FFFFFF;
}

.light-mode {
    background-color: #FFFFFF;
    color: #000000;
}

#navbar{
    overflow: hidden;
    background-color: #0055DD;
    padding: 40px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a{
    float: left;
    color:#FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
}

#navbar #logo{
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s;
}

#navbar a:hover{
    background-color: #000066;
    transition: all 0.4s;
    border-radius: 15px;
}

#navbar a.active{
    background-color: #000066;
    border-radius: 15px;
}

#navbar-right {
    float:right;
}

#content{
    margin-top: 210px;
    padding: 25px 200px;
    font-size: 1.4vw;
}

.button {
    border: none;
    color: #FFFFFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonTheme {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #0055DD;
}

.buttonTheme:hover {
    background-color: #0055DD;
    color: #FFFFFF;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#0055DD;
    color:#FFFFFF;
    text-align: center;
}

.footer a:link{
    color:#FFFFFF;
    text-decoration: none;
}

.dark-mode a{
    color:#b7c4ff;
}

.dark-mode a:visited{
    color:#6172bd;
}

.footer a:visited{
    color:#AAA9AD;
    text-decoration: none;
}

@media screen and (max-width: 1920px){
    #content{
        padding-right: 40px;
        padding-left: 40px;
        font-size: 24px;
    }
    #navbar, #navbar a, #navbar a:hover, #navbar a.active, #navbar-right{
        font-size: 25px;
    }
    table {
        border-collapse: collapse;
        vertical-align: top;
        width: 100%;
    }
    tr th {
        border: 3px solid #0055DD;
        background: #0055DD;
        color: white;
        text-align: center;
    }
    tr td {
        border: 3px solid #999999;
        text-align: center;
        width: 33%;
        vertical-align: text-top;
        font-size: 18px;
    }
}

@media screen and (max-width: 385px){
    #content{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
    }
    #navbar, #navbar a, #navbar a:hover, #navbar a.active, #navbar-right{
        font-size: 14px;
    }
    #projectImg{
        width: 150px;
        height: 92px;
    }
    table {
        border-collapse: collapse;
        vertical-align: top;
        width: 100%;
    }
    tr th {
        border: 3px solid #0055DD;
        background: #0055DD;
        color: white;
        text-align: center;
    }
    tr td {
        border: 3px solid #999999;
        text-align: center;
        width: 33%;
        vertical-align: text-top;
        font-size: 14px;
    }
}

